* {
    margin:5px;
    padding:3px;
}

main{
    width: 60vw;
    height: 100vh;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite; 
    margin: 5px;
}
