* {
    margin: 0px;
    padding: 0px;
}

main, header{
    display: flex;  /* 블록요소가 두개이상이면 밑으로 떨어지는데 flex는 옆으로 가게 만들기 */ 
    align-items: center;

    width: 80vw;
    margin-left: 10vw;
}

main{
    margin-top:20px;
    flex-direction: column;
}


header {
    justify-content: space-between; /* 배치 간격 일정하게*/
    height: 10vh;
    padding: 10px;
    background-color: royalblue;
    color: white;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;  /* 글자앞에 붙는 점 없애기*/
}


nav li{
    margin: 0px 10px;
    padding: 5px;

}

nav a:hover{
    background-color: aliceblue;
    color: black;
}


nav a{
    text-decoration: none; /* 밑줄 없애기 */
    padding: 5px;
    border-radius: 20px;
    color: white;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5px;
    background-color: royalblue;
    color: white;
    border: 0px;
    border-radius: 5px;
}

button:hover{
    background-color: blue;
    cursor: pointer;
}
